{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- ===== CSS ===== -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" />

  <title>Login to Expenses</title>  
</head>
<body>

<section class="login section">
  
  <div class="login__container bd-grid">

    <div class="profile__data">
      <div class="about__pic">
          <img src="{% static 'art/expenses_logo.png' %}" alt="" />                
      </div>
    </div>

    <h2 class="section-title">Login to Expenses</h2>

      <form action="" class="account__new-form" method="post">
          {% csrf_token %}
          <div class="account__new-inputs">
              <input type="text" name="username" required placeholder="Username" class="account__new-input">
              <input type="password" name="password" required placeholder="Password" class="account__new-input">

              <input type="submit" value="Login to Expenses" class="button account__new-button">                          
          </div>
      </form>

      <div class="login__line"></div>
      
      <a href="{% url 'signup' %}" class="button button__home-all">Create New Account</a>
  </div>
</section>

</body>
</html>