{% extends 'base.html' %}

{% block title %}Account Details{% endblock title %}

{% block style %}{% endblock style %}

{% block content %}

<section class="section">

  <div class="account-detail__container bd-grid">
    <div class="account-detail__card">
      <div class="account-detail__icon-background">
        <i class="{{ account.icon }} account-detail__icon"></i>
      </div>
      
      <div class="account-detail__name">{{ account.name }}</div>
      <span class="account-detail__bank">{{ account.bank }}</span>
      <div class="account-detail__balance">{{ account.balance }}</div>
      <div class="account-detail__description">{{ account.description }}</div>
    </div>
    
    <table class="account-detail__table">
      <thead>
        {% if account.deposit_set.all|length == 0 %}
          <tr>
            <th class="account-detail__table-title" colspan="3">No Deposits to display</th>
          </tr>
        {% else %}
          <tr>
            <th class="account-detail__table-title" colspan="3">Deposits</th>
          </tr>
          <tr class="account-detail__table-header-row">
            <td class="account-detail__table-header">Amount</td>
            <td class="account-detail__table-header">Date and Time</td>
            <td class="account-detail__table-header">Comment</td>
          </tr>
        </thead>
        <tbody>
          {% for item in account.deposit_set.all|dictsortreversed:"date" %}
            <tr>          
              <td class="account-detail__table-data">{{ item.amount }}</td>
              <td class="account-detail__table-data">{{ item.date }}</td>       
              <td class="account-detail__table-data">{{ item.comment|truncatechars:12 }}</td>    
            </tr>
          {% endfor %}
        {% endif %}      
    </table>   

    <table class="account-detail__table">
      <thead>
        {% if transfers_to_accounts|length == 0 %}
          <tr>
            <th class="account-detail__table-title" colspan="3">No Tranfers to Accounts to display</th>
            
          </tr>
        {% else %}
          <tr>
            <th class="account-detail__table-title" colspan="4">Tranfers to Accounts</th>
          </tr>
          <tr class="account-detail__table-header-row">
            <td class="account-detail__table-header">Account</td>
            <td class="account-detail__table-header">Amount</td>
            <td class="account-detail__table-header">Date and Time</td>
            <td class="account-detail__table-header">Comment</td>
          </tr>
        </thead>
        <tbody>
          {% for item in transfers_to_accounts|dictsortreversed:"date" %}
            <tr>          
              <td class="account-detail__table-data-transfers">{{ item.account_to }}</td>
              <td class="account-detail__table-data-transfers">{{ item.amount }}</td>
              <td class="account-detail__table-data-transfers">{{ item.date }}</td>       
              <td class="account-detail__table-data-transfers">{{ item.comment|truncatechars:12 }}</td>    
            </tr>
          {% endfor %}
        {% endif %}      
    </table>

    <table class="account-detail__table">
      <thead>
        {% if transfers_to_envelopes|length == 0 %}
          <tr>
            <th class="account-detail__table-title" colspan="3">No Tranfers to Envelopes to display</th>
            
          </tr>
        {% else %}
          <tr>
            <th class="account-detail__table-title" colspan="4">Tranfers to Envelopes</th>
          </tr>
          <tr class="account-detail__table-header-row">
            <td class="account-detail__table-header">Envelope</td>
            <td class="account-detail__table-header">Amount</td>
            <td class="account-detail__table-header">Date and Time</td>
            <td class="account-detail__table-header">Comment</td>
          </tr>
        </thead>
        <tbody>
          {% for item in transfers_to_envelopes|dictsortreversed:"date" %}
            <tr>          
              <td class="account-detail__table-data-transfers">{{ item.envelope }}</td>
              <td class="account-detail__table-data-transfers">{{ item.amount }}</td>
              <td class="account-detail__table-data-transfers">{{ item.date }}</td>       
              <td class="account-detail__table-data-transfers">{{ item.comment|truncatechars:12 }}</td>    
            </tr>
          {% endfor %}
        {% endif %}      
    </table>

    <a href="{% url 'account_update' account.pk %}" class="button button__home-all">Edit {{ account.name }}</a>
    <a href="{% url 'account_new_deposit' %}" class="button button__home-all">Add New Deposit</a>
    <a href="{% url 'account_list' %}" class="button button__home-all">View All Accounts</a>
    
  </div>
  
</section>

{% endblock content %}