{% extends 'base.html' %}
{% load static %}

{% block title %}Accounts{% endblock title %}

{% block style %}{% endblock style %}

{% block content %}

{% if object_list|length == 0 %}

<section class="section">
    
  <div class="login__container bd-grid">

    <div class="new__icon-data">
      <h2 class="section-title">My Accounts</h2>
      <div class="empty__icon">
          <img src="{% static 'art/empty_home.png' %}" alt="" />                
      </div>

      <div class="empty_desc">To get started add new account</div>
    </div>
            
    <a href="{% url 'account_new' %}" class="button button__home-all">Add New Account</a>
  </div>
</section>

{% else %}

<section class="section">
  <span class="section-subtitle">My Accounts</span>
  <h2 class="section-title">{{ total_balance_accounts }}</h2>
  
  <div class="home__container bd-grid">
    
    {% for account in object_list %}

    <a href="{% url 'account_detail' account.pk %}" class="card">
      <div class="card__left">
        <i class="{{ account.icon }} card__icon"></i>
      </div>
      <div class="card__right">
        <div class="card__header">
          <h3 class="card__name">{{ account.name }}</h3>
          <span class="card__sub-name">{{ account.bank }}</span>          
        </div>
        
        <h3 class="card__balance">{{ account.balance }}</h3>

        <div class="card__line"></div>
        <div class="card__last-transaction">
          
          {% if account.deposit_set.all|length == 0 %}          
            <span class="card__last-transaction-amount">No Transaction to display</span>          
          {% else %}
            <span class="card__last-transaction-amount"><i class="fas fa-arrow-alt-circle-up card__last-transaction-icon"></i> {{ account.deposit_set.all.last.amount}}</span>
          {% endif %}
            <span class="card__last-transaction-date">{{ account.deposit_set.all.last.date|date:"y M d, H:i:s" }}</span>
        </div>
      </div>
    </a>

    {% endfor %}

  </div>
</section>
{% endif %}

<script>
  document.getElementById('accounts-nav').classList.add('active');
</script>

{% endblock content %}