{% extends 'base.html' %}
{% load static %}

{% block title %}Transfer to Account{% endblock title %}

{% block style %}
{% endblock style %}

{% block content %}

<section class="accounts section">
  
    <div class="account__new-container bd-grid">

      <div class="new__icon-data">
        <div class="new__icon">
            <img src="{% static 'art/transfer_account_icon.png' %}" alt="" />                
        </div>
      </div>
      <h2 class="section-title">Transfer to Account</h2>

      {% if all_accounts|length < 2 %}
        <div class="new__icon-data">
          <div class="empty_desc">You only have {{ all_accounts|length }} accounts</div>
          <div class="empty_desc">To make a transfer you should have atleast two accounts</div>
        </div>
        <a href="{% url 'account_new' %}" class="button button__home-all">Add New Account</a>

      {% else %}

        <form action="" class="account__new-form" method="post">
            {% csrf_token %}
            <div class="account__new-inputs">
              <div class="input__label">Account From</div>
                {{ form.account_from }}
              <div class="input__label">Account To</div>
                {{ form.account_to }}
                <input type="number" name="amount" required placeholder="Amount" class="account__new-input">
                <textarea name="comment" id="" cols="0" rows="3" placeholder="Comment(optional)" class="account__new-input"></textarea>

                <input type="submit" value="Transfer" class="button account__new-button">                          
            </div>            
        </form>
      {% endif %}
    </div>
  </section>
  
  <script>
    document.getElementById('accounts-new-tranfer-account-nav').classList.add('active');
  </script>

{% endblock content %}