{% extends 'base.html' %}
{% load static %}

{% block title %}New Account{% endblock title %}

{% block style %}
{% endblock style %}

{% block content %}

<section class="accounts section">   

    <div class="account__new-container bd-grid">
        <div class="new__icon-data">
            <div class="new__icon">
                <img src="{% static 'art/account_icon.png' %}" alt="" />                
            </div>
        </div>

        <h2 class="section-title">New Account</h2>
        
        <form action="" class="account__new-form" method="post">
            {% csrf_token %}

            <!-- {{ form }} -->
            <div class="account__new-inputs">
                <input type="text" name="name" required placeholder="Account Name" class="account__new-input">
                <input type="text" name="bank" required placeholder="Bank Name" class="account__new-input">
                <input type="number" name="balance" value="0.00" placeholder="Initial Balance(optional)" class="account__new-input">
                <textarea name="description" cols="0" rows="3" placeholder="Description(optional)" class="account__new-input"></textarea>

                <select name="icon" required class="account__new-input">
                    <option class="account__new-input" value="" selected>Select an Icon</option>
                    <option value="far fa-credit-card">Credit Card</option>
                    <option value="fas fa-piggy-bank">Savings</option>
                    <option value="fas fa-money-check-alt">Fixed</option>
                </select>

                <input type="submit" value="Create New Account" class="button account__new-button">                          
            </div>            
        </form>
  
    </div>
  </section>
  
  <script>
    document.getElementById('account-new-nav').classList.add('active');
  </script>


{% endblock content %}

