{% extends 'base.html' %}
{% load static %}

{% block title %}Update Account Details{% endblock title %}

{% block style %}
{% endblock style %}

{% block content %}

<section class="accounts section">   

    <div class="account__new-container bd-grid">
        <div class="new__icon-data">
            <div class="new__icon">
                <img src="{% static 'art/account_icon.png' %}" alt="" />                
            </div>
        </div>

        <h2 class="section-title">Update Account Details</h2>
        <h2 class="section-subtitle">{{ form.name.value }}</h2>
        
        
<form method="post">  
    {% csrf_token %}  
    {{ form.as_p }}  
    <input type="submit" value="Update Account Details" class="button account__new-button">  
</form>  

  
    </div>
  </section>
  
  <script>
    document.getElementById('account-new-nav').classList.add('active');
  </script>


{% endblock content %}

