{% extends 'base.html' %}
{% load static %}

{% block title %}New Spend{% endblock title %}

{% block style %}
{% endblock style %}

{% block content %}

<section class="accounts section">
  
    <div class="account__new-container bd-grid">

      <div class="new__icon-data">
        <div class="new__icon">
            <img src="{% static 'art/spend_icon.png' %}" alt="" />                
        </div>
      </div>
      <h2 class="section-title">New Spend</h2>

      {% if all_envelopes|length == 0 %}
        <div class="new__icon-data">
          <div class="empty_desc">To make a spend add new envelope first</div>
        </div>
        <a href="{% url 'envelope_new' %}" class="button button__home-all">Add New Envelope</a>

      {% else %}

        <form action="" class="account__new-form" method="post">
            {% csrf_token %}
            <div class="account__new-inputs">
                {{ form.envelope }}
                <input type="number" name="amount" required placeholder="Amount" class="account__new-input">
                <textarea name="comment" id="" cols="0" rows="3" placeholder="Comment(optional)" class="account__new-input"></textarea>

                <input type="submit" value="Add New Spend" class="button account__new-button">                          
            </div>            
        </form>
      {% endif %}
    </div>
  </section>
  
  <script>
    document.getElementById('accounts-new-spend-nav').classList.add('active');
  </script>

{% endblock content %}