{% extends 'base.html' %}
{% load static %}

{% block title %}New Envelope{% endblock title %}

{% block style %}
{% endblock style %}

{% block content %}

<section class="envelopes section">    
  
    <div class="account__new-container bd-grid">
        <div class="new__icon-data">
            <div class="new__icon">
                <img src="{% static 'art/envelope_icon.png' %}" alt="" />                
            </div>
        </div>
        <h2 class="section-title">New Envelope</h2>
        
        {% if all_accounts|length == 0 %}
            <div class="new__icon-data">
            <div class="empty_desc">To add new envelope add new account first</div>
            </div>
            <a href="{% url 'account_new' %}" class="button button__home-all">Add New Account</a>

        {% else %}

        <form action="" class="account__new-form" method="post">
            {% csrf_token %}

            <!-- {{ form }} -->
            <div class="account__new-inputs">
                <input type="text" name="name" required placeholder="Envelope Name" class="account__new-input">
                <input type="number" name="balance" value="0.00" placeholder="Initial Balance(optional)" class="account__new-input">
                <textarea name="description" cols="0" rows="3" placeholder="Description(optional)" class="account__new-input"></textarea>

                <select name="icon" required class="account__new-input">
                    <option value="" selected>Select an Icon</option>
                        <option value="fas fa-shopping-basket">Groceries</option>
                        <option value="fas fa-coffee">Food and Drinks</option>
                        <option value="fas fa-compact-disc">Entertainment</option>
                        <option value="fas fa-couch">Furniture</option>
                        <option value="fas fa-dice">Sports</option>
                        <option value="fas fa-hospital">Medicine</option>
                        <option value="fas fa-mobile-alt">Mobile Phone</option>
                        <option value="fas fa-store">Shopping</option>
                        <option value="fas fa-tools">Utilities</option>
                        <option value="fas fa-tshirt">Clothes</option>
                        <option value="fas fa-baby-carriage">Baby Care</option>
                        <option value="fas fa-book">Books</option>
                        <option value="fas fa-bus">Transportation</option>
                        <option value="fas fa-box-open">Gifts</option>
                        <option value="fas fa-car">Travel</option>
                        <option value="fas fa-hammer">Tools</option>
                        <option value="fas fa-wifi">Internet</option>
                        <option value="fas fa-car-crash">Insurance</option>
                        <option value="fas fa-water">Water</option>
                        <option value="fas fa-file-invoice">Bills</option>
                        <option value="fas fa-gas-pump">Fuel</option>
                        <option value="far fa-lightbulb">Electricity</option>
                        <option value="fas fa-cannabis">Miscellaneous</option>
                </select>

                <input type="submit" value="Create New Envelope" class="button account__new-button">                          
            </div>            
        </form>
  
    </div>
  </section>
  {% endif %}
  
  <script>
    document.getElementById('envelope-new-nav').classList.add('active');
  </script>

{% endblock content %}
