{% extends 'base.html' %}

{% block title %}Envelope Details{% endblock title %}

{% block style %}{% endblock style %}

{% block content %}

<section class="section">

  <div class="account-detail__container bd-grid">
    <div class="account-detail__card">
      <div class="account-detail__icon-background">
        <i class="{{ envelope.icon }} account-detail__icon"></i>
      </div>
      
      <div class="account-detail__name">{{ envelope.name }}</div>
      <div class="account-detail__balance">{{ envelope.balance }}</div>
      <div class="account-detail__description">{{ envelope.description }}</div>
    </div>
    
    <table class="account-detail__table">
      <thead>
        {% if envelope.spend_set.all|length == 0 %}
          <tr>
            <th class="account-detail__table-title" colspan="3">No Sepnds to display</th>
          </tr>
        {% else %}
          <tr>
            <th class="account-detail__table-title" colspan="3">Spends</th>
          </tr>
          <tr class="account-detail__table-header-row">
            <td class="account-detail__table-header">Amount</td>
            <td class="account-detail__table-header">Date and Time</td>
            <td class="account-detail__table-header">Comment</td>
          </tr>
        </thead>
        <tbody>
          {% for item in envelope.spend_set.all|dictsortreversed:"date" %}
            <tr>          
              <td class="account-detail__table-data">{{ item.amount }}</td>
              <td class="account-detail__table-data">{{ item.date }}</td>       
              <td class="account-detail__table-data">{{ item.comment|truncatechars:12 }}</td>    
            </tr>
          {% endfor %}
        {% endif %}      
    </table>   

    <table class="account-detail__table">
      <thead>
        {% if transfers_to_envelopes|length == 0 %}
          <tr>
            <th class="account-detail__table-title" colspan="3">No Tranfers to Envelopes to display</th>
            
          </tr>
        {% else %}
          <tr>
            <th class="account-detail__table-title" colspan="4">Tranfers from Accounts</th>
          </tr>
          <tr class="account-detail__table-header-row">
            <td class="account-detail__table-header">Account</td>
            <td class="account-detail__table-header">Amount</td>
            <td class="account-detail__table-header">Date and Time</td>
            <td class="account-detail__table-header">Comment</td>
          </tr>
        </thead>
        <tbody>
          {% for item in transfers_to_envelopes|dictsortreversed:"date" %}
            <tr>          
              <td class="account-detail__table-data-transfers">{{ item.account }}</td>
              <td class="account-detail__table-data-transfers">{{ item.amount }}</td>
              <td class="account-detail__table-data-transfers">{{ item.date }}</td>       
              <td class="account-detail__table-data-transfers">{{ item.comment|truncatechars:12 }}</td>    
            </tr>
          {% endfor %}
        {% endif %}      
    </table>
    
    <a href="{% url 'envelope_new_spend' %}" class="button button__home-all">Add New Spend</a>
    <a href="{% url 'envelope_list' %}" class="button button__home-all">View All Envelopes</a>
    
  </div>
  
</section>

{% endblock content %}