{% extends 'base.html' %}
{% load static %}

{% block title %}Envelopes{% endblock title %}

{% block style %}{% endblock style %}

{% block content %}

{% if all_accounts|length == 0 %}

<section class="section">
    
  <div class="login__container bd-grid">

    <div class="new__icon-data">
      <h2 class="section-title">My Envelopes</h2>
      <div class="empty__icon">
          <img src="{% static 'art/empty_home.png' %}" alt="" />                
      </div>

      <div class="empty_desc">To get started add new account first</div>
    </div>
            
    <a href="{% url 'account_new' %}" class="button button__home-all">Add New Account</a>
  </div>
</section>

{% elif object_list|length == 0 %}

<section class="section">
    
  <div class="login__container bd-grid">

    <div class="new__icon-data">
      <h2 class="section-title">My Envelopes</h2>
      <div class="empty__icon">
          <img src="{% static 'art/empty_home.png' %}" alt="" />                
      </div>

      <div class="empty_desc">To get started add new envelope</div>
    </div>
            
    <a href="{% url 'envelope_new' %}" class="button button__home-all">Add New Envelope</a>
  </div>
</section>

{% else %}

<section class="section">
  <span class="section-subtitle">My Envelopes</span>
  <h2 class="section-title">{{ total_balance_envelopes }}</h2>
  
  <div class="home__container bd-grid">
    
    {% for envelope in object_list %}

    <a href="{% url 'envelope_detail' envelope.pk %}" class="card">
      <div class="card__left">
        <i class="{{ envelope.icon }} card__icon"></i>
      </div>
      <div class="card__right">
        <div class="card__header">
          <h3 class="card__name">{{ envelope.name }}</h3>         
        </div>
        
        <h3 class="card__balance">{{ envelope.balance }}</h3>

        <div class="card__line"></div>
        <div class="card__last-transaction">
          
        {% if envelope.spend_set.all|length == 0 %}          
          <span class="card__last-transaction-amount">No Spend to display</span>          
        {% else %}
          <span class="card__last-transaction-amount"><i class="fas fa-arrow-alt-circle-down card__last-transaction-icon-down"></i> {{ envelope.spend_set.all.last.amount}}</span>
        {% endif %}
            <span class="card__last-transaction-date">{{ envelope.transaction_set.all.last.date|date:"y M d, H:i:s" }}</span>
        </div>
      </div>
    </a>

    {% endfor %}

  </div>
</section>
{% endif %}

<script>
  document.getElementById('envelopes-nav').classList.add('active');
</script>

{% endblock content %}