{% extends 'base.html' %}
{% load static %}

{% block title %}New Transaction{% endblock title %}

{% block style %}
{% endblock style %}

{% block content %}

<noscript>You need to enable JavaScript to run this app.</noscript>

<div class="flex flex-wrap">
    <div class="w-full">
        <nav class="relative flex flex-wrap items-center justify-between py-3 navbar-expand-lg bg-verdigris shadow-md">
            <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
                <div class="w-full relative flex justify-start lg:w-auto px-1 lg:static lg:block">
                    <button
                        class="text-white cursor-pointer text-xl leading-none py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
                        type="button" onclick="toggleNavbar('collapse-navbar')">
                        <i class="fas fa-bars"></i>
                    </button>
                    <a class="text-sm font-bold leading-relaxed inline-block ml-4 mr-4 py-2 whitespace-no-wrap uppercase text-white"
                        href="{% url 'home' %}">
                        Expenses
                    </a>
                    <ul class="list-none ml-auto inline-block mt-1 lg:hidden">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                          <a href="#" onclick="openDropdown(event,'user-dropdown-mobile')" class="flex text-sm rounded-full">
                            <span class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75">{{ user.username }}</span><img class="h-8 w-8 rounded-full" src="{{ user.profile_pic.url }}" alt="">
                          </a>
                        </li>
                        {% endif %}
            
                        <div class="hidden bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg mt-1 ml-8"
                          style="min-width: 12rem;" id="user-dropdown-mobile">
                          <a href="{% url 'profile' %}"
                            class="text-sm py-2 px-4 font-normal block w-full whitespace-no-wrap bg-transparent text-gray-800">View
                            Profile</a>
                          <div class="mx-2 h-0 my-2 border border-solid border-gray-200"></div>
                          <a href="{% url 'logout' %}"
                            class="text-sm py-2 px-4 font-normal block w-full whitespace-no-wrap bg-transparent text-gray-800">Logout</a>
                        </div>
                      </ul>
                </div>
                <div class="lg:flex lg:flex-grow items-center hidden" id="collapse-navbar">
                    <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
                        <li class="nav-item">
                            <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75"
                                href="{% url 'envelope_list' %}">
                                Envelopes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75"
                                href="{% url 'envelope_new' %}">
                                New Envelope
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75"
                                href="{% url 'transaction_new' %}">
                                New Transaction
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75"
                                href="#">
                                Accounts
                            </a>
                        </li>

                        {% if user.is_authenticated %}
                        <li class="nav-item hidden lg:inline-block">
                            <a href="#" onclick="openDropdown(event,'user-dropdown')" class="flex text-sm rounded-full">
                                <span
                                    class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75">{{ user.username }}</span><img
                                    class="h-8 w-8 rounded-full" src="{{ user.profile_pic.url }}" alt="">
                            </a>
                        </li>
                        {% endif %}

                        <div class="hidden bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg mt-1 ml-8"
                            style="min-width: 12rem;" id="user-dropdown">
                            <a href="{% url 'profile' %}"
                                class="text-sm py-2 px-4 font-normal block w-full whitespace-no-wrap bg-transparent text-gray-800">View
                                Profile</a>
                            <div class="mx-2 h-0 my-2 border border-solid border-gray-200"></div>
                            <a href="{% url 'logout' %}"
                                class="text-sm py-2 px-4 font-normal block w-full whitespace-no-wrap bg-transparent text-gray-800">Logout</a>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="flex justify-center">
    <div
        class="flex px-6 py-4 relative bg-white rounded-md m-4 mb-6 xl:mb-0 shadow-md justify-center items-center w-full md:w-1/2 lg:w-2/5">

        <div class="flex-auto p-5">
            <div class="flex justify-center">
                <img class="flex mr-2 h-12" src="{% static '/art/transaction_new.png' %}" alt="new envelope" />
                <h4 class="flex text-2xl font-semibold text-center items-center ml-2">Add New Transaction</h4>
            </div>

            <form action="" method="post">
                {% csrf_token %}

                <div class="relative w-full mb-3 mt-4">
                    <label class="block text-gray-700 text-xs font-bold mb-2" for="name">Envelope</label>
                    {{ form.envelope }} 
                </div>
                <div class="relative w-full mb-3">
                    <label class="block text-gray-700 text-xs font-bold mb-2" for="balance">Category</label>
                    {{ form.category }}
                </div>
                <div class="relative w-full mb-3">
                    <label class="block text-gray-700 text-xs font-bold mb-2" for="amount">Amount</label>
                    <input type="number" name="amount" required
                    class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-gray-200 rounded text-sm shadow focus:outline-none focus:shadow-outline w-full"
                    placeholder="Initial Balance"
                    style="transition: all 0.15s ease 0s;">
                </div>
            
                <div class="text-center mt-6">
                    <button class="bg-bittersweet text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
                    type="submit" style="transition: all 0.15s ease 0s;">Add
                    Transaction</button>
                </div>

            </form>
        </div>

    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js" charset="utf-8"></script>
<script type="text/javascript">
    /* Sidebar - Side navigation menu on mobile/responsive mode */
    function toggleNavbar(collapseID) {
        document.getElementById(collapseID).classList.toggle("hidden");        
    }
    /* Function for dropdowns */
    function openDropdown(event, dropdownID) {
        let element = event.target;
        while (element.nodeName !== "A") {
            element = element.parentNode;
        }
        var popper = new Popper(element, document.getElementById(dropdownID), {
            placement: "bottom-end"
        });
        document.getElementById(dropdownID).classList.toggle("hidden");
        document.getElementById(dropdownID).classList.toggle("block");
    }
    (function () {
        /* Add current date to the footer */
        document.getElementById("javascript-date").innerHTML = new Date().getFullYear();
    })();
</script>

{% endblock content %}