@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&display=swap');

/*===== VARIABLES CSS =====*/
:root{
    --header-height: 3.4rem;
    --nav-width: 324px;
  
    /*===== Font weight =====*/
    --font-medium: 400;
    --font-bold: 700;
  
    /*===== Colors =====*/
    --metallic-seaweed: hsla(186, 71%, 31%, 1);
    --midnight-green-eagle-green: hsla(194, 85%, 21%, 1);
    --cg-red: hsla(2, 70%, 53%, 1);
    --maximum-yellow-red: hsla(40, 100%, 67%, 1);
    --jet: hsla(330, 2%, 19%, 1);
    --text-color: hsla(0, 0%, 20%, 1);
    --color-chinese-silver: hsla(0, 0%, 80%, 1);
    --color-cultured: hsla(0, 0%, 96%, 1);
  
    /*===== Font and typography =====*/
    --body-font: 'Cantarell', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
  
    /*===== Margins =====*/
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem; 
  
    /*===== z index =====*/
    --z-fixed:100;
  }
    
  @media screen and (min-width: 768px){
    :root{
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
  }

  /*===== BASE =====*/
*, ::before, ::after{
    box-sizing: border-box;
}
  
html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--color-cultured);
    color: var(--text-color);
    line-height: 1.6;
}

h1,h2,h3,p{
    margin: 0;
}

h3{
    font-weight: var(--font-bold);
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

img{
    max-width: 100;
    height: auto;
    display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

select {
  border:none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -ms-appearance: none;
}

  /*===== CLASS CSS ===== */
.section{
    padding: 1rem 0 2rem;
}

.login{
  justify-items: center;
  align-items: center;
}

.login__container{
  background-color: white;
  border-radius: var(--mb-1);
  overflow: hidden;
  box-shadow: 0 0 .2rem rgba(0,0,0,.2);
  padding: .5rem;
  transition: .5s;
}

.section-title{
    font-size: var(--h1-font-size);
    color: var(--midnight-green-eagle-green);
    margin-bottom: .25rem;
    text-align: center;
}

.section-subtitle{
    display: block;
    font-size: var(--small-font-size);
    color: var(--metallic-seaweed);
    text-align: center;
    font-weight: var(--font-bold);
    margin-bottom: .25rem;
}

.section__line{
  display: block;
  height: 1px;
  background-color: var(--color-chinese-silver);
  margin: 0 2rem;
  box-shadow: 0 0 .2rem rgba(0,0,0,.2);
}

/*===== LAYOUT =====*/
.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);  
}

.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--metallic-seaweed);
    box-shadow: 0 .1rem .2rem rgba(0,0,0,.2);    
}

/*===== user =====*/
.user__container{
  margin-top: -1rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-items: center;
}

.user__image-container{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: var(--mb-1);
  box-shadow: 0 .1rem .2rem rgba(0,0,0,.2);
}

.user__image-container:hover{
  box-shadow: 0 0 .2rem rgba(0,0,0,.6);
  transition: .5s;
}

.user__image-container img{
  width: 80px;
}

.user__title{
  font-size: var(--normal-font-size);
  color: var(--jet);
}

/*===== NAV =====*/
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu{
    position: fixed;
    top: 0;
    left: -100%;
    width: 85%;
    height: 100vh;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--metallic-seaweed);
    box-shadow: .1rem 0 .2rem rgba(0,0,0,.2);
    transition: .5s;
}

.nav__close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: var(--h1-font-size);
    color: var(--jet);
    cursor: pointer;
}

.nav__item{
    margin-bottom: var(--mb-1);
}

.nav__link{
    font-size: var(--small-font-size);
    text-transform: uppercase;
    color: var(--color-cultured);
    font-weight: var(--font-bold);
    transition: .3s;
}

.nav__link-sub{
  font-size: var(--small-font-size);
  text-transform: uppercase;
  color: var(--color-cultured);
  font-weight: var(--font-bold);
  margin-left: var(--mb-2);
  transition: .3s;
}

.nav__link:hover{
    color: var(--text-color);
}

.nav__toggle{    
    color: var(--color-cultured);
    font-size: var(--h3-font-size);
    cursor: pointer;
}

.nav__title-bar{
    width: 100%;
    text-align: center;
}

.nav__logo{
    color: var(--color-cultured);
    font-weight: var(--font-bold);
}

.nav__line{
  display: block;
  width: 120%;
  margin-left: -10%;
  margin-bottom: var(--mb-1);
  height: 1px;
  background-color: var(--color-chinese-silver);
  box-shadow: 0 0 .2rem rgba(0,0,0,.2);
}

/*=== Show menu ===*/
.show{
    left: 0;
}

/*Active menu*/
.active{
    color: var(--text-color);
}

/*BUTTONS*/
.button{
    display: inline-block;
    background-color: var(--metallic-seaweed);
    color: var(--color-cultured);
    padding: 1rem 2rem;
    font-weight: var(--font-bold);
    text-align: center;
    border-radius: .5rem;
    box-shadow: 0 0 .2rem rgba(0,0,0,.2);
    transition: .3s;
}

.button:hover{  
  box-shadow: 0 0 .2rem rgba(0,0,0,.6);
  opacity: .9;
}

.button__light{
  background-color: var(--color-chinese-silver);
  color: var(--metallic-seaweed);
}

.button__light:hover{
  color: var(--color-chinese-silver);
}

/* ===== card=====*/
.card{
  display: flex;
  height: 7rem;
  background-color: white;
  border-radius: var(--mb-1);
  overflow: hidden;
  box-shadow: 0 0 .2rem rgba(0,0,0,.2);
  transition: .5s;
  
}

.card__left{
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: center;
  background-color: var(--metallic-seaweed);
}

.card__icon{
  color: var(--color-cultured);
  font-size: 3rem;
}

.card__right{
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: .5rem;
}

.card__header{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.card__name{
  font-size: var(--small-font-size);
  color: var(--metallic-seaweed);
  font-size: 1.2rem;
}

.card__sub-name{
  font-size: var(--small-font-size);
}

.card__balance{
  font-size: 1.5rem;
  margin-bottom: var(--mb-1);
  align-self: center;
  color: var(--cg-red);
  margin: .1rem;
}

.card__line {
  display: block;
  height: 1px;
  background-color: var(--color-chinese-silver);
}

.card__last-transaction{
  display: flex;
  justify-content: space-between;
  margin-top: .2rem;
}

.card__last-transaction-amount{
  display: flex;
  font-size: var(--small-font-size);
  color: var(--jet);
}

.card__last-transaction-icon{
  display: flex;
  font-size: var(--normal-font-size);
  color: var(--midnight-green-eagle-green);
  margin: .15rem .2rem 0 0;
}

.card__last-transaction-icon-down{
  display: flex;
  font-size: var(--normal-font-size);
  color: var(--cg-red);
  margin: .15rem .2rem 0 0;
}

.card__last-transaction-date{
  display: flex;
  font-size: var(--smaller-font-size);
  color: var(--text-color);
  align-self: flex-end;
}


/* ===== home =====*/
.home__container{
  row-gap: 1rem;
}

.button__home-all{
  background-color: var(--maximum-yellow-red);
  color: var(--jet);
}

/* ===== new accounts =====*/
.account__new-container{
  background-color: white;
  border-radius: var(--mb-1);
  overflow: hidden;
  box-shadow: 0 0 .2rem rgba(0,0,0,.2);
  padding: .5rem;
  transition: .5s;
}

.account__new-input{
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  background-color: var(--color-cultured);
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  margin-bottom: var(--mb-2);
  border-radius: .5rem;
  color: var(--metallic-seaweed);
}

.account__new-input::placeholder{
  color: var(--metallic-seaweed);
  font-family: var(--body-font);
  font-size: var(--font-medium);
}

.account__new-button{
  outline: none;
  border: none;
  background-color: var(--maximum-yellow-red);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  cursor: pointer;
  color: var(--jet);
  width: 100%;
}

/* ===== profile =====*/
.profile-container{
  background-color: white;
  border-radius: var(--mb-1);
  overflow: hidden;
  box-shadow: 0 0 .2rem rgba(0,0,0,.2);
  padding: .5rem;
  transition: .5s;
}

.profile__data{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  text-align: center;
}

.profile__pic{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: var(--mb-2);
  margin-top: var(--mb-2);
  box-shadow: 0 .1rem .2rem rgba(0,0,0,.2);
}

.profile__pic img{
  width: 160px;
}

.profile__label{
  width: 100%;
}

.profile__inputs{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* ===== account details =====*/
.account-detail__container{
  row-gap: 1rem;
}

.account-detail__card{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: var(--mb-1);
  overflow: hidden;
  box-shadow: 0 0 .2rem rgba(0,0,0,.2);
  padding: .5rem;
  transition: .5s;
}

.account-detail__icon-background{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--metallic-seaweed);
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  margin: var(--mb-1) 0;
  box-shadow: 0 .1rem .2rem rgba(0,0,0,.2);
}

.account-detail__icon{
  color: var(--color-cultured);
  font-size: 3rem;
}

.account-detail__name{
  font-size: var(--small-font-size);
  color: var(--metallic-seaweed);
  font-size: 1.2rem;
}

.account-detail__balance{
  font-size: 1.5rem;
  margin-bottom: var(--mb-1);
  align-self: center;
  color: var(--cg-red);
  margin: .1rem;
}

.account-detail__table{
  align-items: center;
  background-color: white;
  border-radius: var(--mb-1);
  overflow: hidden;
  box-shadow: 0 0 .2rem rgba(0,0,0,.2);
  padding: .5rem;
  transition: .5s;
}

.account-detail__table-title{
  text-align: center;
  align-self: flex-start;
  padding: var(--mb-1);
  transition: .5s;
}

.account-detail__table-header-row{
  background-color: var(--maximum-yellow-red);
  transition: .5s;
}

.account-detail__table-header{
  text-align: center;
  padding: var(--mb-1);
  transition: .5s;
}

.account-detail__table-data{
  text-align: center;
  padding: var(--mb-1);
  font-size: var(--smaller-font-size);
  width: 33%;
  transition: .5s;
}

.account-detail__table-data-transfers{
  text-align: center;
  padding: var(--mb-1);
  font-size: var(--smaller-font-size);
  width: 25%;
  transition: .5s;
}

.input__label{
  width: auto;
  font-size: var(--smaller-font-size);
  color: var(--jet);
  text-align: center;
}

.login__line {
  display: block;
  height: 1px;
  background-color: var(--color-chinese-silver);
  margin: 1rem 0;
  box-shadow: 0 0 .2rem rgba(0,0,0,.2);
}

.profile__picture-container{
  display: flex;
  justify-content: center;
}

.profile__picture-button{
  width: 100%;
  background-color: var(--metallic-seaweed);
  color: var(--color-cultured);
  padding: .5rem .5rem;
  text-align: center;
  border-radius: .5rem;
  box-shadow: 0 0 .2rem rgba(0,0,0,.2);
  transition: .3s;
  border: 0;
  margin-bottom: 1rem;
}

.profile__picture-button:hover{  
  box-shadow: 0 0 .2rem rgba(0,0,0,.6);
  opacity: .9;
  cursor: pointer;
}

.about__pic{
  width: 160px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: .5rem;
  margin-top: 1rem;
}

.about__pic img{
  width: 160px;
}

.new__icon-data{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  text-align: center;
}

.new__icon{
  width: 144px;
  overflow: hidden;
}

.new__icon img{
  width: 144px;
}

.empty_desc{
  width: 100%;
  padding: .5rem;
  align-self: center;
}

.empty__icon{
  width: 256px;
  overflow: hidden;
}

.empty__icon img{
  width: 256px;
}