{% extends 'base.html' %}
{% load static %}

{% block title %}About Expenses{% endblock title %}

{% block style %}{% endblock style %}

{% block content %}

<section class="section">
  
    <div class="profile-container bd-grid">

        <div class="profile__data">
            <div class="about__pic">
                <img src="{% static 'art/expenses_logo.png' %}" alt="" />                
            </div>
    
            <h2 class="section-title">Expenses</h2>
            <div class="profile__label">Copyright &copy; <span id="year"></span> Anila Senadheera(ianila)</div>
            <div class="profile__label">licensed under the GNU GPLv3 License</div>
            <div class="profile__label"><a href="https://gitlab.com/ianila/expenses">View Source - Expenses by ianila</a></div>
                
        </div>
          
    </div>
  </section>
  
  <script>
    document.getElementById('about-nav').classList.add('active');

    document.getElementById("year").innerHTML = new Date().getFullYear();
  </script>

{% endblock content %}