<!-- 
/* Expenses by ianila
 * Copyright (C) 202 Anila Senadheera
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */ -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- ===== CSS ===== -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" />

  <title>{% block title %}Expenses{% endblock title %}</title>  
  {% block style %}{% endblock style %}

</head>
<body>

  <!--===== HEADER =====-->
    <header class="l-header">
      <nav class="nav bd-grid">
          <div class="nav__toggle" id="nav-toggle">
              <i class="fas fa-bars"></i>
          </div>

          <div class="nav__title-bar">
              <a href="{% url 'home' %}" class="nav__logo">Expenses <box-icon name='palette'></box-icon></a>
          </div>

          <div class="nav__menu" id="nav-menu">
              <div class="nav__close" id="nav-close">
                <i class="fas fa-times"></i>
              </div>

              <a href="{% url 'profile' %}" class="user__container">
                <div class="user__image-container">
                  <img src="{{ user.profile_pic.url }}" alt="">
                </div>
                <h2 class="user__title">{{ user.username }}</h2>
              </a>

              <div class="nav__line"></div>

              <ul class="nav__list">
                  <li class="nav__item"><a href="{% url 'home' %}" class="nav__link" id="home-nav">Home</a></li>
                  
                  <li class="nav__item"><a href="{% url 'account_list' %}" class="nav__link" id="accounts-nav">Accounts</a></li>
                  <li class="nav__item"><a href="{% url 'account_new' %}" class="nav__link nav__link-sub" id="account-new-nav">New Account</a></li>
                  <li class="nav__item"><a href="{% url 'account_new_deposit' %}" class="nav__link nav__link-sub" id="accounts-new-deposit-nav">New Deposit</a></li>
                  <li class="nav__item"><a href="{% url 'account_new_account_transfer' %}" class="nav__link nav__link-sub" id="accounts-new-tranfer-account-nav">Transfer to Account</a></li>
                  <li class="nav__item"><a href="{% url 'account_new_envelope_transfer' %}" class="nav__link nav__link-sub" id="accounts-new-tranfer-envelope-nav">Transfer to Envelope</a></li>
              </ul>

              <div class="nav__line"></div>

              <ul class="nav__list">
                  <li class="nav__item"><a href="{% url 'envelope_list' %}" class="nav__link" id="envelopes-nav">Envelopes</a></li>
                  <li class="nav__item"><a href="{% url 'envelope_new' %}" class="nav__link nav__link-sub" id="envelope-new-nav">New Envelope</a></li>
                  <li class="nav__item"><a href="{% url 'envelope_new_spend' %}" class="nav__link nav__link-sub" id="accounts-new-spend-nav">Spend</a></li>
              </ul>

              <div class="nav__line"></div>
              
              <ul class="nav__list">
                <li class="nav__item"><a href="{% url 'profile' %}" class="nav__link" id="profile-nav">Profile</a></li>
                <li class="nav__item"><a href="{% url 'about' %}" class="nav__link" id="about-nav">About</a></li>
                <li class="nav__item"><a href="{% url 'logout' %}" class="nav__link">Logout</a></li>
              </ul>
          </div>
      </nav>
    </header>

    <script src="{% static 'js/expenses.js' %}"></script>

    {% block content %}
    {% endblock content %}
</body>
</html>