{% extends 'base.html' %}
{% load static %}

{% block title %}User Profile{% endblock title %}

{% block style %}{% endblock style %}

{% block content %}

<section class="section">
  
    <div class="profile-container bd-grid">

        <div class="profile__data">
            <div class="profile__pic">
                <img src="{{ user.profile_pic.url }}" alt="" />                
            </div>
    
            <h2 class="section-title">{{ user.username }}</h2>
            <div class="profile__inputs">
                <div class="profile__label">Joined</div>
                <div class="account__new-input">{{ user.date_joined }}</div>

                <div class="profile__label">Last Login</div>
                <div class="account__new-input">{{ user.last_login }}</div>                                         
            </div> 
        </div>
          
    </div>
  </section>
  
  <script>
    document.getElementById('profile-nav').classList.add('active');
  </script>

{% endblock content %}