{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- ===== CSS ===== -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" />

  <title>Signup to Expenses</title>  
</head>
<body>

<section class="login section">
  
  <div class="login__container bd-grid">

    <div class="profile__data">
      <div class="about__pic">
          <img src="{% static 'art/expenses_logo.png' %}" alt="" />                
      </div>          
    </div>

    <h2 class="section-title">Signup to Expenses</h2>

      <form action="" class="account__new-form" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="account__new-inputs">
              <input type="text" name="username" required placeholder="Username" class="account__new-input">
              <input type="password" name="password1" required placeholder="Password" class="account__new-input">
              <input type="password" name="password2" required placeholder="Password Confirmation" class="account__new-input">
              
              <input type="file" name="profile_pic" accept="image/*" id="id_profile_pic" class="account__new-input" hidden="hidden"/>
              
              <div>
                <button type="button" class="profile__picture-button" id="upload-button"><i class="fas fa-upload"></i> &nbsp; Upload Profile Picture</button>
              </div>
              
              <input type="submit" value="Signup to Expenses" class="button account__new-button">                          
          </div>
      </form>

      <div class="login__line"></div>
      
      <a href="{% url 'login' %}" class="button button__home-all">Already have an account? Login</a>
  </div>
</section>

<script>
  const fileButton = document.getElementById("id_profile_pic");
  const uploadButton = document.getElementById("upload-button");
  const uploadLabel = document.getElementById("upload-label");

  uploadButton.addEventListener("click", function() {
    fileButton.click();
  });

  fileButton.addEventListener("change", function () {
    if(fileButton.value) {
      uploadButton.innerHTML = fileButton.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1] + '&nbsp; <i class="fas fa-check-circle"></i>';
    } else {
      uploadButton.innerHTML = "<i class='fas fa-upload'></i> &nbsp; Upload Profile Picture";
    }
  });

</script>
</body>
</html>